:host {
  .profile-card {
    text-align: center;
    padding: 1.5rem;
    h2, h4{margin-bottom: 0;}
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  mat-expansion-panel{
    box-shadow: none;
    mat-expansion-panel-header{
      padding: 0 20px;
      mat-panel-title{
        align-items: center;
        span{padding-left: 1.3rem;}
      }
    }
  }
}