<h1 class="title">Formulário de aba</h1>
<div class="container mat-elevation-z8">
  <form [formGroup]="form">
    <mat-form-field *ngIf="isSuperUser">
      <mat-label>Website</mat-label>
      <mat-select formControlName="config">
        <mat-option *ngFor="let config of configs" [value]="config.url">{{ config.url }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
      <mat-error>Nome é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>

    <div>
      <mat-label>Texto</mat-label>
      <quill-editor formControlName="text" placeholder="Insira o texto aqui..." [styles]="{minHeight: '200px'}"></quill-editor>
      <mat-error *ngIf="(form.get('text').dirty || form.get('text').touched) && form.get('text').invalid">Texto é <strong>obrigatório!</strong></mat-error>
    </div>
  </form>
</div>

<button mat-fab color="primary" class="fab-bottom-right" [disabled]="form.invalid" (click)="save()">
  <mat-icon>save</mat-icon>
</button>