<h1 mat-dialog-title>Formulário de permissão</h1>
<div mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Página</mat-label>
      <mat-select formControlName="page" cdkFocusInitial>
        <mat-option>---</mat-option>
        <mat-option *ngFor="let page of pages" [value]="page.value">{{ page.name }}</mat-option>
      </mat-select>
      <mat-error>Página é obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Regra</mat-label>
      <mat-select formControlName="role">
        <mat-option>---</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.name }}</mat-option>
      </mat-select>
      <mat-error>Regra é obrigatório!</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="!saving" (click)="save()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="saving"></mat-progress-spinner>
</div>