<h1 mat-dialog-title>Formulário de categoria</h1>
<div mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field *ngIf="isSuperUser">
      <mat-label>Website</mat-label>
      <mat-select formControlName="config">
        <mat-option *ngFor="let config of configs" [value]="config.url">{{ config.url }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
      <mat-error>Nome é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Texto</mat-label>
      <textarea matInput rows="3" formControlName="text"></textarea>
      <mat-error>Texto é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="!saving" (click)="save()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="saving"></mat-progress-spinner>
</div>