<div fxLayoutAlign="start center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="50" fxFlex.gt-md="25">
    <app-widget-card label="Acessos" [total]="access.length" icon="remove_red_eye"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="50" fxFlex.gt-md="25">
    <app-widget-card label="Usuários" [total]="users.length" icon="person_pin"></app-widget-card>
  </mat-card>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div id="map" class="mat-elevation-z8">
  <div #map class="map"></div>
  <ng-lottie *ngIf="loadingMap" [options]="lottieOpts" width="150px" height="150px"></ng-lottie>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div id="accessChart" class="mat-elevation-z8">
  <ng-lottie *ngIf="loadingAccessChart" [options]="lottieOpts" width="150px" height="150px"></ng-lottie>
  <app-widget-area *ngIf="!loadingAccessChart" title="Acessos" [data]="accessChart"></app-widget-area>
</div>

<br>
<br>