#map {
  height: 100vh;
  position: relative;
  .map {height: 100%;}
  ng-lottie{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

ng-lottie {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
}