<div class="header" fxLayout="row" fxLayoutAlign="end center">
  <div fxFlex="50" fxFlex.gt-md="80">
    <h2 class="title">Configurações</h2>
  </div>
  <mat-form-field fxFlex="50" fxFlex.gt-md="20">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Pesquisar</mat-label>
    <input matInput [(ngModel)]="filter" name="filter" (keyup)="applyFilter()" placeholder="Ex. Dashboard...">
    <button mat-button matSuffix mat-icon-button *ngIf="filter" (click)="filter=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="container mat-elevation-z8">
  <div class="table-responsive">
    <mat-table matSort [dataSource]="dataSource">
  
      <ng-container matColumnDef="title">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Título </mat-header-cell>
        <mat-cell matRipple *matCellDef="let element" fxFlexAlign="stretch" (click)="openDetail(element)"> {{ element.title }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Url </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.url || '---' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="domain">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Domínio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.domain || '---' }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> Imagem </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
          <img [src]="element.image.mobile || element.image.desktop ||  'assets/image/not-found-user.png'" class="thumbnail" alt="">
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="10">  </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <a mat-icon-button color="primary" [href]="'/configuracoes/formulario/'+element.id" *ngIf="canUpdate">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button color="warn" (click)="confirmDelete(element)" *ngIf="canDelete">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
      <div class="noData" *matNoDataRow fxLayout="row">
        <div fxFlex="grow" fxFlexAlign="center" class="text-center">Nenhum registro encontrado!</div>
      </div>
    </mat-table>
  </div>
  
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<a mat-fab color="primary" class="fab-bottom-right" href="/configuracoes/formulario" *ngIf="canAdd">
  <mat-icon>add</mat-icon>
</a>