<h1 mat-dialog-title>Formulário de usuário</h1>
<div mat-dialog-content>
  <form [formGroup]="form">

    <div class="image" *ngIf="image">
      <button mat-mini-fab color="warn" (click)="deleteImage()">
        <mat-icon>delete</mat-icon>
      </button>
      <img [src]="image.path" alt="">
    </div>
    <ngx-dropzone (change)="takeImage($event)" *ngIf="!image">
      <ngx-dropzone-label>Arraste os arquivos aqui ou clique para fazer o upload.</ngx-dropzone-label>
    </ngx-dropzone>
    
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" cdkFocusInitial>
        <mat-error>Nome é <strong>obrigatório!</strong></mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error>E-mail é <strong>obrigatório!</strong></mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <mat-label>Website</mat-label>
        <mat-select formControlName="config">
          <mat-option *ngFor="let config of configs" [value]="config.id">{{ config.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="50">
        <mat-label>Grupos</mat-label>
        <mat-select formControlName="groups" multiple>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</mat-option>
        </mat-select>
        <mat-error>Permissões é obrigatório!</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Permissões</mat-label>
        <mat-select formControlName="permissions" multiple>
          <mat-option *ngFor="let permission of permissions" [value]="permission.id">{{ permission.page }} - {{ permission.role }}</mat-option>
        </mat-select>
        <mat-error>Permissões é obrigatório!</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" *ngIf="!data">
      <mat-form-field fxFlex="50">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error>Senha é <strong>obrigatório!</strong></mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Confirme sua senha</mat-label>
        <input matInput type="password" formControlName="confirmPass">
        <mat-error *ngIf="form.get('confirmPass').hasError('required')">Confirme sua senha é <strong>obrigatório!</strong></mat-error>
        <mat-error *ngIf="form.get('confirmPass').hasError('passNotSame')">As senhas não <strong>coincidem!</strong></mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="!saving" (click)="save()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="saving"></mat-progress-spinner>
</div>