<h2 class="title">Configurações gerais</h2>

<form [formGroup]="form">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div id="images" fxFlex.gt-sm="60" class="container mat-elevation-z8">
      <h2>Imagem</h2>
      <div class="image" *ngIf="image">
        <button mat-mini-fab color="warn" (click)="deleteImage()">
          <mat-icon>delete</mat-icon>
        </button>
        <img [src]="image.path" alt="">
      </div>
      <ngx-dropzone (change)="takeImage($event)" *ngIf="!image">
        <ngx-dropzone-label>Arraste os arquivos aqui ou clique para fazer o upload.</ngx-dropzone-label>
      </ngx-dropzone>
    </div>
    <div id="previewShare" fxFlex.gt-sm="40" fxFlexOffset.gt-sm="2" class="container">
      <div fxLayout="row">
        <div fxFlex>
          <h2>Visualização</h2>
        </div>
        <div fxFlex="none">
          <button mat-mini-fab color="success" *ngIf="controlUrl.value && form.get('shareMsg').value" (click)="shareWhatsapp()">
            <mat-icon fontSet="fab" fontIcon="fa-whatsapp"></mat-icon>
          </button>
        </div>
      </div>
      <mat-card class="whatsapp mat-elevation-z8">
        <div class="header" fxLayout="row" fxLayoutAlign="center center">
          <div class="image" *ngIf="image">
            <img [src]="image.path" alt="">
          </div>
          <div class="text">
            <p class="title font-weight-medium">{{ form.get('title').value }}</p>
            <p class="desc">{{ form.get('description').value }}</p>
            <p class="url">site.minhaproposta.org</p>
          </div>
        </div>
        <mat-card-content class="text-wrap">{{ form.get('shareMsg').value }}
          <br><br>
          <a href="https://site.minhaproposta.org/{{ this.form.get('url').value }}">https://site.minhaproposta.org/{{ this.form.get('url').value }}</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- WEBSITE -->
  <div id="website" class="container mat-elevation-z8">
    <h2>Website</h2>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
      <mat-form-field fxFlex="50">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" (keyup)="changeTitle()">
        <mat-error>Título é <strong>obrigatório!</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput formControlName="url" (blur)="checkUrl()">
        <mat-hint>
          <a href="https://site.minhaproposta.org/{{ this.form.get('url').value }}" target="_blank">
            https://site.minhaproposta.org/{{ this.form.get('url').value }}
          </a>
        </mat-hint>
        <mat-error *ngIf="controlUrl.hasError('exist')">Url já <strong>existente!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('required')">Url é <strong>obrigatório!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('hasSpace')">Url não pode conter <strong>espaço!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('hasUppercase')">Url não pode conter letras <strong>maiúsculas!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('hasSpecialChar')">Url não pode conter <strong>caractéres especiais!</strong></mat-error>
      </mat-form-field>
    </div>

    <app-widget-select-tag [control]="form.get('keywords')" placeholder="Palavras chaves"></app-widget-select-tag>

    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput rows="3" formControlName="description"></textarea>
      <mat-error>Descrição é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mensagem de compartilhamento</mat-label>
      <textarea matInput rows="4" formControlName="shareMsg"></textarea>
      <mat-error>Mensagem é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Doação</mat-label>
      <textarea matInput rows="8" formControlName="donation"></textarea>
      <mat-error>Doação é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>
  </div>
</form>

<button mat-fab color="primary" class="fab-bottom-right" [disabled]="form.invalid" (click)="save()">
  <mat-icon>save</mat-icon>
</button>