<h2 class="title">Configurações gerais</h2>

<form [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="70">
      <div id="share" class="container mat-elevation-z8">
        <h2>Compartilhamento</h2>

        <mat-form-field>
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="sharePhone" mask="(00) 00000-0000" cdkFocusInitial>
          <mat-error>Telefone é <strong>obrigatório!</strong></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mensagem</mat-label>
          <textarea matInput formControlName="shareMsg"></textarea>
          <mat-error>Mensagem é <strong>obrigatório!</strong></mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- IMAGE -->
    <div fxFlex="30">
      <div id="image" class="container mat-elevation-z8">
        <h2>Imagem</h2>
        <div class="image" *ngIf="image">
          <button mat-mini-fab color="warn" (click)="deleteImage()">
            <mat-icon>delete</mat-icon>
          </button>
          <img [src]="image.path" alt="">
        </div>
        <ngx-dropzone (change)="takeImage($event)" *ngIf="!image">
          <ngx-dropzone-label>Arraste os arquivos aqui ou clique para fazer o upload.</ngx-dropzone-label>
        </ngx-dropzone>
      </div>
    </div>
  </div>
  <!-- WEBSITE -->
  <div id="website" class="container mat-elevation-z8">
    <h2>Website</h2>

    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="50">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" (keyup)="changeTitle()">
        <mat-error>Título é <strong>obrigatório!</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput formControlName="url" (blur)="checkUrl()">
        <mat-hint>Ex: pedro-josé</mat-hint>
        <mat-error *ngIf="controlUrl.hasError('exist')">Url já <strong>existente!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('required')">Url é <strong>obrigatório!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('hasSpace')">Url não pode conter <strong>espaço!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('hasUppercase')">Url não pode conter letras <strong>maiúsculas!</strong></mat-error>
        <mat-error *ngIf="controlUrl.hasError('hasSpecialChar')">Url não pode conter <strong>caractéres especiais!</strong></mat-error>
      </mat-form-field>
    </div>

    <app-widget-select-tag [control]="form.get('keywords')" placeholder="Palavras chaves"></app-widget-select-tag>

    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error>Descrição é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>
  </div>
</form>

<button mat-fab color="primary" class="fab-bottom-right" [disabled]="form.invalid" (click)="save()">
  <mat-icon>save</mat-icon>
</button>