<mat-toolbar color="primary">
  <span>Social</span>
</mat-toolbar>
<div mat-dialog-content>
  
  <mat-list>
    <mat-list-item *ngIf="isSuperUser">
      <mat-icon matListIcon>build</mat-icon>
      <div matLine><strong> Website </strong></div>
      <div matLine class="info"> {{ object._config.url }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Tipo </strong></div>
      <div matLine class="info"> {{ object.type }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>link</mat-icon>
      <div matLine><strong> Url </strong></div>
      <div matLine class="info"> {{ object.url }} </div>
    </mat-list-item>
  </mat-list>
</div>