.container{
  min-height: 100%;
  padding: 5rem 2rem;
  background-color: #f3f4f7;
  form{
    .logo{
      padding: 1rem 2rem;
      img{filter: drop-shadow(2px 4px 4px rgba(0,0,0,.8));}
    }
    .title{margin-bottom: 0;}
    .subtitle{
      opacity: .6;
      margin-bottom: 1rem;
    }
    padding: 1rem 2rem;
    background-color: #fff;
    mat-form-field{
      width: 100%;
      margin-bottom: .5rem;
    }
    button{width: 100%;}
  }
}