<mat-toolbar color="primary">
  <span>Aba</span>
</mat-toolbar>
<div mat-dialog-content>
  
  <mat-list>
    <mat-list-item *ngIf="isSuperUser">
      <mat-icon matListIcon>build</mat-icon>
      <div matLine><strong> Website </strong></div>
      <div matLine class="info"> {{ object._config.url }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Nome </strong></div>
      <div matLine class="info"> {{ object.name }} </div>
    </mat-list-item>
    <div class="text">
      <strong> Texto </strong>
      <div [innerHtml]="object.text"></div>
    </div>
  </mat-list>
</div>